@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans);
@import url(https://fonts.googleapis.com/css?family=Merriweather);

.my-container	{
	margin:30px;
	border:2px red;
}
.add {
	font-size:30px;
}
.btnwidth{
	width:140px;
	color:white;
}
/*---navigation--*/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  min-height: 80;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

#mainNav {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color:#2c292f;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

#mainNav .navbar-brand {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 1000;
  font-size: 2em;
  color:#FFCC00;
  letter-spacing: 0.2rem;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color:#FFCC00;
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  font-size: 0.9rem;
}

#mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
  color: #fff;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
  color: #fff !important;
}

@media (min-width: 992px) {
  #mainNav {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
  }

  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }

  #mainNav .navbar-brand:hover {
    color: #fff;
  }

  #mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.7);
    padding: 0 1rem;
  }

  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
  }

  #mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }

  #mainNav.navbar-scrolled {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #2c292f ;
  }

  #mainNav.navbar-scrolled .navbar-brand {
    color:  #FFCC00;
  }

  #mainNav.navbar-scrolled .navbar-brand:hover {
    color: #ffffff;
  }

  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
    color:#FFCC00;
  }

  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
    color: #ffffff;
  }
}

.navbar-toggler {
  cursor: pointer;
}
*footer*/
.flinks a:hover{
  color: #FFCC00;
  text-decoration: none;
}

#logo{
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
  "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 1000;
  font-size: 2em;
  color: #FFCC00;
  letter-spacing: 0.2rem;
}
 i.icon{
  color: #FFCC00;
}

.color {
	background-color:#f5f5f5;
}
.border {
	border:3px black bold;
}
